@charset "UTF-8";

.body {
	background-image: url(#{resource['images/abstractshapes.jpg']});
	background-size: cover;
}

.bodygeral {
	background-image: url(#{resource['images/abstractshapesbodytemplate.jpg']});
}

.logoaubay {
	text-align: center;
}

#logo {
	margin: 15px;
	margin-top: 50px;
	width: 400px;
	height: auto;	
	margin-bottom: 5px;
}	

.title {
	margin-top: 100px;
	text-shadow: 2px 2px 5px #434345;
	color: #fff;
	font-weight: 500;
	font-size: 70px;
	text-align: center;
}

.container {
	margin-top: 80px;
	vertical-align: middle;
	align-content: center;
}

.buttonindex {
	width: 300px;
	height: auto;
    top:40%;
    margin-top:-50px;
    margin-left:30px;
    margin-rigth:30px;
}

.buttontext {
	text-shadow: 2px 2px 5px #434345;
	color: #fff;
	font-weight: 300;
	font-size: 42px;
	text-align: center;
	vertical-align: middle;
}

.header {
	background-image: url(#{resource['images/abstractshapesheader.jpg']});
	background-size: cover;
}

#logoheader {
	margin: 10px;
	width: 100px;
	height: auto;	
	margin-bottom: 10px;
	margin-left: 10px;
}

.clock {
	float: right;
	margin-top: 20px;
	margin-right: 10px;
}	

.subtitles {
	font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
	color: #C06C84;
	font-weight: 500;
	font-size: 50px;
	text-align:left;
	margin: 10px;
	margin-bottom: 15px;
}

.orderlist {
	background-color: orange;
}

.ui-tabs {
	background: linear-gradient(#fffcf2, #ff4e00);
}

.ui-tabs-header ui-state-default ui-corner-top ui-tabs-selected ui-state-active {
	background: #fff;
}

.ui-tabs-header ui-state-default ui-corner-top {
	background: #fff;
}

.ui-tabs .ui-tabs-nav li {
	background: #bfc7e2;
}

.ui-tabs .ui-tabs-nav {
	background: #ffffff;
}

.ui-datatable-resizable th.ui-resizable-column {
	background: linear-gradient(#fff, #92a0ce);
}

.ui-datatable-header{
	font-size: 20px;	
	font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
	font-weight: 100;
	background: linear-gradient(#a86a7f, #6c5b7b);
	color: #fff;
}

.ui-paginator{
	background: #ffffff;
}

.ui-menubar {
	background: #ffffff;
}