@charset "UTF-8";

.body {
	background-image: url(#{resource['images/abstractshapes.jpg']});
	background-size: 100% 200%;
}

.bodygeral {
	background-image: url(#{resource['images/abstractshapesbodytemplate.jpg']});
	background-size: 100% 200%;
	margin-bottom: 50px;
}

.logoaubay {
	text-align:center;
	
}

#logo {
	margin: 15px;
	margin-top: 50px;
	width: 400px;
	height: auto;	
	margin-bottom: 5px;
}	

.title {
	margin-top: 30px;
	text-shadow: 2px 2px 5px #434345;
	color: #ffffff;
	font-weight: 650;
	font-size: 75px;
	text-align: center;
	position:relative;
}

.firstWord {
	color: #ff7b64;
	font-weight: 745;
}

.container {
	margin-top: 120px;
	vertical-align: middle;
	align-content: center;
}

.buttonindex {
	width: 300px;
	height: auto;
    top:40%;
    margin-top:-50px;
    margin-left:30px;
    margin-rigth:30px;
    margin-bottom:15px;
}

.buttontext {
	text-shadow: 2px 2px 5px #434345;
	color: #fff;
	font-weight: 500;
	font-size: 42px;
	text-align: center;
	vertical-align: middle;
}

.header {
	background-image: url(#{resource['images/abstractshapesheader.jpg']});
	background-size: 100% 200%;
}

#logoheader {
	margin: 10px;
	width: 100px;
	height: auto;	
	margin-bottom: 10px;
	margin-left: 10px;
}

.clock {
	float: right;
	margin-top: 20px;
	margin-right: 10px;
}	

.subtitles {
	font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
	color: #ff7b64;
	font-weight: 500;
	font-size: 40px;
	text-align:left;
	margin-left: 30px;
	margin-bottom: 15px;
	margin-top: 40px;
}

.orderlist {
	background-color: orange;
}

form {
	padding-left: 30px;
	padding-right: 30px;
}

#form2 {
	padding-left: 0px;
	padding-right: 0px;
}

#form3 {
	padding-left: 0px;
	padding-right: 0px;
	margin-top: 0px;
	margin-bottom: 10px;
}

.register {
	float: left;
}

.list {
	overflow: hidden;
}

.ui-datatable {
	padding-left: 30px;
	padding-right: 30px;
}

.ui-menubar {
	height: 36px;
}	
.ui-tabs {
	background: white;
} 

.ui-button {
	color: #fff;
	font-weight: 100;
	font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
	text-shadow: 2px 2px 5px #434345;
	background: #fdb883;
}

.buttonindex {
	transition: 0.5s;
}
.buttonindex:hover {
	transform: scale(1.1);
	
}

.buttonhome{
    transition: 0.5s;
    text-shadow: 2px 2px 5px #434345;
}
.buttonhome:hover {
	transform: scale(1.1);
	
}

.ui-button-text-icon-left .ui-button-text {
	color: #fff;
	font-weight: 100;
	font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
	text-shadow: 2px 2px 5px #434345;
	background: #fdb883;
}

.ui-button-icon-only .ui-button-text {
	background: #fdb883;
}

.ui-button-text-only .ui-button-text {
	color: #fff;
	font-weight: 100;
	font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
	text-shadow: 2px 2px 5px #434345;
	background: #fdb883;
}	
.ui-tabs-header ui-state-default ui-corner-top ui-tabs-selected ui-state-active {
	background: #fff;
}

.ui-tabs-header ui-state-default ui-corner-top {
	background: #fff;
}

.ui-tabs .ui-tabs-nav li {
	background: #e3e4e3;
}

.ui-tabs .ui-tabs-nav {
	background: #ffffff;
}

.ui-datatable thead th, .ui-datatable tfoot td {
	background: linear-gradient(#fdba83, #fe9483, #eb6653);
	font-size: 20px;	
	font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
	font-weight: 100;
	color: #fff;
	text-shadow: 1px 1px 5px #434345;
}

.ui-widget-content .ui-datatable th {
	background: linear-gradient(#fdba83, #fe9483, #eb6653);
	font-size: 20px;	
	font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
	font-weight: 100;
	color: #fff;
	text-shadow: 1px 1px 5px #434345;
}


.ui-datatable-header{
	font-size: 25px;	
	font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
	font-weight: 100;
	background: linear-gradient(#fdba83, #fe9483, #eb6653);
	color: #fff;
	text-shadow: 1px 1px 5px #434345;
}
	
.ui-datatable-even {
	background: #e4e4e4;
}

.ui-datatable-odd {
	background: #fff;
}
.ui-paginator{
	background: linear-gradient(#fff, #eaf4f7);
}

.ui-menubar {
	background: #ffffff;
}

.ui-menubar .ui-menu-child {
	background: #fff;
	width: 135px;
}

.ui-draggable .ui-dialog-titlebar {
	background: #fff;	
}

.ui-selectonemenu .ui-selectonemenu-trigger {
	color: #fff;
	text-shadow: 2px 2px 5px #434345;
	background: #fdb883;	
}	
.footer {
	font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
	position: fixed;
  	right: 0;
  	bottom: 0;
  	left: 0;
  	background-color: #ffffff;
  	text-align: center;
}

.footertitle {
	margin: 5px;
}

.column{
    text-align: center;
}    
    
.insertpeople{
    float: left;
}

.tableforcreatepeople{
    overflow: hidden; 
}