@charset "UTF-8";

.body {
	background-color: #FFEADD;
}

.header {
	background-color: red;
	position: up;
	height: 140px;
}

#logoAubay {
	margin: 20px;
	width: 100px;
	height: auto;
}

.logo {
	float: left;
}

.clock {
	overflow: hidden;
	float: right;
	margin-top: 27px;
	margin-right: 20px;
	align-content: unset;
}

.imagens {
	width: 350px;
	height: auto;
}

.container {
	margin-top: 250px;
	vertical-align: middle;
	align-content: center;
	
}

